<!-- default base.html template -->
{% from app.conf import SITENAME, SITELOGO, SITESLOGAN, SITEREV %}
<!DOCTYPE html>
<head>
	<title>{% block title %}{{ SITENAME or "sleekFMK" }} | {{ SITESLOGAN or "wut?" }}{% end %}</title>
	<link href='/media/css/basic.css' rel='stylesheet' type='text/css'>
	{% if data and data.has_key('meta') %}
	{% raw data['meta'] %}
	{% end %}
{% block extrahead %}
{% end %}
</head>
<body>
<div id="container">
{% block header %}
<div id="header">
	<span class="sleektitle">{% if SITELOGO %}<img src="/media/img/{{ SITELOGO }}" />{% end %}{{ SITENAME or "sleekFMK" }}</span>
	<span class="header-menu">
		<a href="/">Home</a>
	</span>
</div>
{% end %}
<div class="clearfix"><!--nbsp--></div>
{% block content %}
{% end %}
<div class="clearfix"><!--nbsp--></div>
{% block footer %}
<div id="footer">
	rev{{ SITEREV }} | powered by <a href="http://sleekfmk.ajscg.com">sleekFMK</a>
</div>
{% end %}
</div>

<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.ajscg.com/piwik/" : "http://stats.ajscg.com/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.ajscg.com/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
</body>
</html>
