<h3>Resources</h3>
<ul id="sub-navigation">
	<li><a href="https://bitbucket.org/battlemidget/sleekfmk/wiki/Home">Documentation</a></li>
	<li>Download <br />( <a href="https://bitbucket.org/battlemidget/sleekfmk/get/default.tar.gz">dev</a>, <a href="https://bitbucket.org/battlemidget/sleekfmk/get/stable_1.tar.gz">stable_1</a> )</li>
	<li><a href="https://bitbucket.org/battlemidget/sleekfmk/issues">Bug Squashing</a></li>
</ul>

<h3>Premium Support</h3>
Support is available to help you customize, debug, and deploy any application
developed with sleekFMK.
