<!-- default welcome template -->
{% extends "base.html" %}
{% block content %}
	<div id="left-content">
        <p>
        Welcome, sleekFMK is an attempt at making a web framework self contained
        and easy to develop against. Each sleekFMK application is run in its own
        environment which allows stability and consistency across systems/platforms.
        The codebase is Python and has been tested on versions 2.6.x and 2.7.x.
        Some of the technologies behind sleekFMK include <a href="http://tornadoweb.org">tornado
        web server</a> and <a href="http://mongodb.org">mongodb</a>. The code
        is hosted at <a href="https://bitbucket.org/battlemidget/sleekfmk/wiki/Home">bitbucket.org</a>
        and can be followed through their means.
        </p>
        <p>
        What's supported right out of the box?
        <ul>
        	<li>Document oriented database</li>
        	<li>Natively compiled templates</li>
        	<li>Themes</li>
        	<li>Encryption</li>
        	<li>Authentication through Twitter, Google, Facebook</li>
        	<li>Asynchronous requests</li>
        	<li>Extensible through whatever means, we dont limit you to plugin hooks :)</li>
        	<li>Unittests</li>
        	<li>Standalone or WSGI</li>
        	<li>Easily scalable</li>
        </ul>
        </p>
        <h4>Download our installer</h4>
        <p>
        	If you have wget or curl you can grab our installer to get started with the framework.
		</p>
		<p>
			<strong>wget</strong> https://bitbucket.org/battlemidget/ajscg-tools/raw/tip/ajscg-python/sleekinstaller/sleekinstaller<br />
			<strong>curl -C - -O</strong> https://bitbucket.org/battlemidget/ajscg-tools/raw/tip/ajscg-python/sleekinstaller/sleekinstaller
		</p>
		<p>
			Next, make it executable or pass it through python<br />
			<strong>#</strong> python sleekinstaller full project-name
		</p>
        <p>
        Available application(s) to help you get up and running quickly
        <ul>
        	<li>sleekCMS ( coming soon! )</li>
        </ul>
        </p>
    </div>
    <div id="right-content">
    {% include "sub_menu.html" %}
    </div>
{% end %}
